.dark-bottom{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

.scrollbar-none{
  -ms-overflow-style: none;  
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
swiper-slide {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  
    width: 300px;
    height: 450px;
  
    font-size: 18px;
  
    text-align: center;
    box-sizing: border-box;
  }

  .shadown-down{
    box-shadow: 0px 16px 40px 0px rgba(7, 9, 13, 0.25);
  }
  #modal-container{
    transition-duration: 4ms;
    transition-property: height;
  }
  
  #phone-number-input{
    padding-left: 16px !important;
  }
