#home-screen{
    background: url('../../assets/images/home-background.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #home-screen-bottom{
    height: 527px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(10, 20, 69, 0.56) 47.4%, #0A1445 97.92%) !important;
  }