#home-screen{
    background: url('../../assets/images/home-background.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  @keyframes backgroundAnimation{
    0%{
      transform: scale(0);
      
    }
    100%{
      transform: scale(18);
    }
  }

  @keyframes fadeout{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  #home-screen-bottom{
    height: 527px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(10, 20, 69, 0.56) 47.4%, #0A1445 97.92%) !important;
  }

#red-background{
  overflow: hidden;
  border-radius: 50%;  
  margin: auto;
  background-color: #BC002E;
  animation: backgroundAnimation 1500ms ease-in-out both;
}

#change-opacity{
  animation: fadeout 1500ms 1200ms ease-in both;
}