@keyframes SwitchOff{
  from{
    margin-left: 0px;
    background-color: #637394;
  }
  to{
    margin-left: 16px;
    background-color: #BC002E;
  }
}
.detail-container{
  height: calc( 100vh - 112px);
  overflow-y: auto;
}

#tab-border{
  height: 2px;  
  background-color:rgb(188, 0, 46) ;
  width: 50%;
  position: absolute;
  bottom: -2px;
  transition: margin-left 200ms ease-in-out;
  left: 0px;
}
.selected-tab{
    color: rgb(188, 0, 46); 
    text-align: center;
    text-shadow: 0px 0px 16px rgba(255, 128, 54, 0.50);
}
/*
.switchOff{
  animation: SwitchOff 1000ms ease-out reverse both;
}

.switchOn{
  animation: SwitchOff 1000ms ease-out normal both ;
}*/

#item-border-left{
    border-left: 1px solid #6D9EFF1A;
}