/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";



/* Optional CSS utils that can be commented out 
 *@import "@ionic/angular/css/padding.css";
 *@import "@ionic/angular/css/float-elements.css";
 *@import "@ionic/angular/css/text-alignment.css";
 *@import "@ionic/angular/css/text-transformation.css";
 *@import "@ionic/angular/css/flex-utils.css";
*/
*{
   font-family: 'Sora',sans-serif ;
}
:root {
    --swiper-navigation-color: red !important;
    --swiper-theme-color: red !important;
}
.button-primary{
    background: linear-gradient(180deg,#ff114b,#bc002e);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sora',sans-serif;
    font-weight: 700;  
    &:disabled{
        opacity: 80%;
    }
}

.success-shadow{
    box-shadow: 0px 4px 16px 0px rgba(255, 128, 54, 0.25);
}
ion-input,ion-searchbar,ion-input:focus{
    --highlight-color-focused: none !important;
    --highlight-color-invalid:none !important;
    --highlight-color-valid:none !important;
    --highlight-height: 0px !important;
    --border-color: none !important;   
}

ion-item{
    --background: transparent;
    height: 48px;
    margin-left: -14px;
    padding-right: 2px;
}

input{
    box-shadow: none !important;
    &::placeholder{
        color: #637394 !important;
        font-weight:100;
        
    }
}