@keyframes showSheetAction{
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(0%);
    }
}
@keyframes hideSheetAction{
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(100%);
  }
}

.hideSheet{
  animation: hideSheetAction 300ms ease-out both;
}

.showSheet{
  animation: showSheetAction 300ms ease-in both;
}

.swiper-pagination-bullet-active{
  background-color: white;
  width: 24px;
}

.hideModalTransition{
  transition: height 0ms 310ms, background-color 300ms 0ms;
}


.dark-bottom{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

.scrollbar-none{
  -ms-overflow-style: none;  
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
swiper-slide {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  
    width: 300px;
    height: 450px;
  
    font-size: 18px;
  
    text-align: center;
    box-sizing: border-box;
  }

  .shadown-down{
    box-shadow: 0px 16px 40px 0px rgba(7, 9, 13, 0.25);
  }
  #modal-container{
    transition-duration: 4ms;
    transition-property: height;
  }
  
  #phone-number-input{
    padding-left: 16px !important;
  }
  /*
  .splide {
    .splide__track {
      .splide__list {
        display: flex;
        align-items: center;
        .splide__slide {
          //width: 230px!important;
          height: 345px !important;
          overflow: hidden;
          border-radius: 16px;
          border: 1px solid rgba(239, 239, 241, 0.2);
          opacity: 0.75;
          transform-origin: center;
          //transition: height .3s;
          img {
            width: 100%;
            height: 450px;
            //object-fit: cover;
          }
          &.is-active {
            //width: 300px!important;
            height: 450px !important;
            opacity: 1;
          }
        }
      }
    }
    .splide__pagination {
      display: flex;
      align-items: center;
      gap: 0px;
      margin-bottom: -50px;
      .splide__pagination__page {
        width: 8px;
        height: 8px;
        border-radius: 24px;
        background: rgba($color: #fff, $alpha: 0.2);
        &.is-active {
          width: 24px;
          background: #fff;
          margin: 0 10px;
        }
      }
    }

    .card{
      &-bottom{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
      }
    }
  }
  .splide:not(.is-overflow) .splide__pagination {
    display: flex;
  }*/
